body {
    background: #1C1C1C;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
}
hr {
    /* max-width: 435px; */
    border: none;
    border-top: 1px solid #384d69;
    margin: 10px 0;
}
.password-card {
    width: 420px;
    height: 420px;
    /* box-sizing: border-box; */
    background: #1F2937;
    border-radius: 10px;
    padding: 100px 40px;
    margin: 20px auto;
    /* Prevent margins from collapsing */
    display: flex;
    flex-direction: column;
}
.password-card > * {
    margin-top: 15px;
    margin-bottom: 15px;
}
.green-accent {
    color: #4ADF86;
}
.password-box {
    width: 210px;
    height: 40px;
    background: #273549;
    border-radius: 5px;
    color: #55F991;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-box:hover {
    border: 1px solid #55F991;
    cursor: pointer;
}
.input-pair {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 7px;
}
#heading {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
}
#supporting-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #D5D4D8;
}
#user-inputs {
    max-width: 190px;
    font-family: 'Inter', sans-serif;
}
#password-btn {
    width: 191px;
    height: 42px;
    background: #10B981;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
}
#password-btn:hover {
    cursor: pointer;
    border: 1px solid #D5D4D8;
}
#password-btn:active {
    color: #FFFFFF;
    position: relative;
    top: 2px;
    left: 2px;
}
#password-content {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 0;
}